

.border-bottom {
  border-bottom: 1px solid lightgray;
  padding-bottom: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.search-input {
  padding: 10px;
  width: 15%;
}

.width-120 {
  width: 120px;
}

.text-center {
  text-align: center;
}

.arrow-css {
  width: 10px;
  height: 10px;
}

@media only screen and (max-width: 768px) {
  .search-input {
    width: 100%;
  }
}