.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 600px;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal-header h2 {
    margin: 0;
  }
  
  .modal-header .close {
    cursor: pointer;
    width: 30px;
    height: 30px;
  }
  
  .modal-body {
    display: flex;
    margin: 20px 10px;
    gap: 20px;
  }
  
  .modal-body .avatar-image {
    width: 100px;
    height: 100px;
    padding-top: 10px;
    border: 3px solid #b9b9b9;
  }
  
  .modal-body p {
    margin: 0px;
    margin-top: 7px;
  }
  
  .modal-body .left-side {
    width: 30%;
  }
  
  .modal-body .right-side {
    width: 70%;
  }