.container {
    margin: 20px;
    border: 1px solid gray;
  }
  
  .company-name {
    padding: 10px 0px 0px 10px;
    margin: 0px;
  }
  
  .company-info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding: 0px 10px;
  }
  
  .table-container {
    padding: 20px;
    overflow-x: auto;
  }
  
  .search-container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }