table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
  
  }
  
  th {
    cursor: pointer;
    min-width: 70px;
  }
  
  th:hover {
    background-color: #f5f5f5;
  }
  
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .name-column {
    display: flex;
    gap: 10px;
  }
  
  .pagination {
    margin-top: 10px;
  }
  
  .pagination ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .pagination li {
    margin: 0 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .pagination li.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .pagination li.disabled {
    color: #ccc;
    cursor: not-allowed;
  }